body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-container {
  position: absolute;
  width: 100%;
  position: absolute;
}

.nav-logo {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px !important;
  line-height: 56px !important;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  color: #E5E5E5;
}

.nav-menu-center {
  position: absolute;
  left: 0;
  right: 0;
}

.nav-menu-item {
  padding: 15px 20px 15px 20px !important;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #E5E5E5;
  

}

.nav-menu-item-lang{
  padding: 15px 4px 15px 4px !important;

}

.nav-menu-item-contact{
background: #D28C00;
color: #1C1C21 !important;
padding: 15px !important;
}

.nav-menu-lg-full-width {
  width:100%;
}

.navbar-toggler {
  border: 0px !important;
}

.navbar-toggler-icon {
  color: rgb(208, 138, 32) !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(208,138,32)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

button:focus {
  outline: none !important;
}


.nav-background {
  background-color: #1C1C21 !important;
  height:64px;

}

.navbar-nav a:hover { 
  color: rgb(208, 138, 32) !important;
}

.navbar-nav .nav-menu-item-contact a:hover {
  color: #1C1C21 !important;
  }

  .jumbotron{
    background-image: url('bg_image.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0rem !important;
    height:720px;
  }

  .jumbotron-title {

    font-family: Playfair Display;
    font-style: italic;
    font-weight: normal;
    font-size: 72px;
    line-height: 120%;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    width: 736px;
    text-align: left;
    margin-top: 32%;


  }

 



@media screen and (max-width: 768px) {
  .nav-collapse {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: -15px !important;
    margin-right: -15px !important;
    margin-bottom: -8px !important;
    border-top:1px solid #ffffff1c !important;
    border-bottom:1px solid #ffffff1c !important;
  }
}